<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

  <link rel="stylesheet" type="text/css" href="{% static 'css/button.css' %}" />

  <link rel="stylesheet" type="text/css" href="{% static 'css/extStyle.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/particles.css' %}" />


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script src="{% static 'js/audio.js' %}"></script>
</head>

<body>
  <div id="particles-js">
    <div>
      <h2 class="headerLogo">trieChat</h2>
      <p class="tagline"> At Your Tips...like everything!!!</p>

      <div class="container">
        <p class="getStarted">Get Started with the Public Chat or create a new Private Room.</p>

        <a href="/public_chat" class="waves-effect waves-light btn-large custom ">Join Public Chat </a>

        <a href="/join_private_room" class="waves-effect waves-light btn-large custom">Join a Private Room </a>
        <a href="/create_private_room" class="waves-effect waves-light btn-large custom">Create a Private Room </a>
        </br></br>

      </div>

    </div>
  </div>
</body>

<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib -->
<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
<script src="../static/scripts//home.js"></script>
<script src="../static/scripts//particles.js"></script>

</html>