<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

  <link rel="stylesheet" type="text/css" href="{% static 'css/button.css' %}" />

  <link rel="stylesheet" type="text/css" href="{% static 'css/extStyle.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/particles.css' %}" />


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script src="{% static 'js/audio.js' %}"></script>
</head>

<body>


  <div id="particles-js">
    <h2 class="headerRoom"><span style="padding-left: 20px">Welcome to {{room}}</span> <span
        style="padding-right: 20px">Logged in as
        <span style="color: tomato;">{{username}}</span></span></h2>
    </h2>

    <!--     <h2>Welcome! {{username}}</h2>
    <h1>{{room}}</h1> -->


    <div class="roomContainer">
      {% for i in message %}
      </br>
      <h3>{{i.user}}</h3>
      <p>{{i.msg}}</p>
      {% if i.file %}
      <a href="{{i.file.url}}" download>{{i.file}}</a></br>

      {% endif %}


      {% endfor %}

      <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}


        <label for="file-upload" class="waves-effect waves-light btn-large custom private-create">
          Upload a File
        </label>
        <input style="display: none;" id="file-upload" type="file" name="file" accept="*" />
        <div class="input-field col s6">
          <input style="color: white;" placeholder="Type your message" id="message" name="message" type="text"
            class="validate">
        </div>
        <button class="waves-effect waves-light btn-large custom private-create" type="submit" value="Send" />
        Send </button>
      </form>
    </div>

  </div>
</body>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib -->
<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
<script src="../static/scripts//home.js"></script>
<script src="../static/scripts//particles.js"></script>

</html>