<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {{room}}
    <br>
    {{user}}

    <br>
    {{URL}}

    <br>
    <br>
    
    
    <div>
        <table>
            <tr>
                <th>Room</th>
                <th>User</th>
                <th>Message</th>
                <th>File</th>
                <th>Download</th>
                <th>time</th>
                <th>date</th>
            </tr>

            {% for i in message %}
                <tr>
                    <td>{{i.room}}</td>
                    <td>{{i.user}}</td>
                    <td>{{i.msg}}</td>
                    <td><a herf="{{ i.file.url }}" target="_blank">{{i.file}}</a></td>
                    <td><a herf="{{ i.file.url }}" download>Download</a></td>
                    <td>{{i.time}}</td>
                    <td>{{i.date}}</td>
                </tr>
            {% endfor %}
            
        </table>
        
    </div>


    <form action="" method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <input type="file" name="media" accept="*">
        <input type="text" name="msg">
        <input type="submit" value="Send">

    </form>

</body>
</html>